/*_________Whole Document______*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  /*background-color: #00A0DC;*/
  }
h1 {
  font-size: 48px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

h1{
  font-size: 20px;
  font-weight:400;
}
.container {
  width:98%;
  padding: 0px 0px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

hr{
  margin: 5px 0px;
  border-color:#7F7F7F;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-margin{
  margin-top:60px;
}

.btn{
  padding: 7px 14px;
}



/*__________Nav and Questions bar_________*/
.navbar-nav{
  float: right;
}

.icon{
  padding-right:5px;
}

.quesions ul{
  float:left;
  display: inline-block;
}

.questions_intro{
  font-size: 12px;
  font-weight: 300;
  color:  #9e9e9e;
  margin-bottom: 5px;
}


.other-schools{
  padding: 3px 20px;
  font-size: 12px;
  font-weight: 300;
  color:  #9e9e9e;
  margin-bottom: 5px;
}

.questions{
  vertical-align: center;
  margin:50px 0px 0px 0px;
  padding: 10px 0px;
  display: block;
  width: 100%;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 1px;

}

.questions-list{
  text-decoration: none;
  display: inline;
  list-style-type: none;
  padding-left: 0px;
}

ul.questions-list li {
  display: inline;
  padding: 0px 0px 0px 0px;
  position: relative;
  border-right: 1px solid #e0e0e0;
}

ul.questions-list li a{
  padding: 5px 5px;

}

ul.questions-list a:active{
  border-bottom: 2px solid #e0e0e0;
}

ul.questions-list a:hover{
  background-color: #eeeeee;
  text-decoration: none;
  color:#00bcd4;
}

li#more{
    border-right: 0px;
}

li#more a{
  color:#9e9e9e;
}

#more a:hover{
  background-color: transparent;
  text-decoration: none;
  color:#00bcd4;
}

#school {
  float:left;
}

.nav-tabs{
  margin-top: 60px;
}

/*_________TabBar_________*/

.tabs-heading{
  font-size: 12px;
  font-weight: 300;
  color:  #9e9e9e;
  margin-bottom: 0px;
  padding-top: 5px;
}

li #display-toggle{
  float:right !imporant;
}

.tabs-radio{
  display:inline-block;
  padding-left:30px;
}

.first-tabs-radio{
  display:inline-block;
  padding-left: 0px;
}

.tab-menu{
  padding-bottom: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e0e0e0;
}

/*_________Timeline_________*/

.timeline1{
  width:900;
}

.timeline-wrapper{
  display:inline-block;
  background-color: #f7f7f7;

}

/*_________Profile_________*/

/*.profile {
  background-color: #eeeeee;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px #bdbdbd;
  -webkit-box-shadow: 0px 2px 2px #bdbdbd;
  box-shadow: 0px 2px 2px #bdbdbd;
  height:520px;
  margin-top:40px;
}*/

/*.profile-des {
  padding: 10px 10px;
}*/

/*.name-title {
  padding-left: 0px;
}*/

/*.profile-des button:nth-child(1) {
  margin-left: 15px;
}

.profile-des ul {
  list-style: none;
  padding-left: 15px;
}*/

.profile-wrapper{
  background-color: #f1f1f1;
  margin-top: 10px;
  display: none;
}

.profile-wrapper .row:nth-child(1){
  margin-top:15px;
}
.bbb{
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.year{
  font-size: 24px;
  line-height: 16px;
  font-weight: 600;
  margin-left: 5px;
  text-align: left;
}
.year1{
  font-size: 24px;
  line-height: 16px;
  font-weight: 600;
  margin-left: 5px;
}


.profile-details li{
  text-decoration: none;
  list-style-type: none;
}

.profile-details{
  padding:0px;
}

.basic-info{
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  padding: 3px;
  width: 150px;
  word-break: normal;
  word-wrap: break-word;
}

.basic-info #name{
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  word-wrap:break-word;
  white-space: pre-wrap;
}

.basic-info #designation, #company{
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2px;
}

.profile-details #description{
  font-size: 13.5px;
  line-height: 14px;
  font-weight: 300;
}



/*_________Cluster_________*/

.clusterChart{
  background-color: #f7f7f7;
  border-radius:3px;
}
.clusterChart text {
  font-size: 11px;
  pointer-events: none;
}

.clusterChart text.parent {
  fill: #1f77b4;
}

.clusterChart circle {
  /*fill: #C7C7C7;
  stroke: #999;*/
  pointer-events: all;
}


.clusterChart circle.parent {
  /*fill: #C7C7C7;*/
  /*stroke: steelblue;*/
  fill-opacity: .1;
}

.clusterChart circle.parent:hover {
  /*stroke: #ff7f0e;*/
  stroke-width: 2px;
}

.clusterChart circle.child {
  /*pointer-events: none;*/
  pointer-events: all;
  fill-opacity: .1;
}

.clusterChart circle.child:hover {
  /*pointer-events: none;*/
  pointer-events: all;
  stroke-width: 2px;
  /*stroke: black;*/
  /*fill:#843c39;*/
}

.clusterChart .pill{
  background-color: blue;
  height:10px;
}

.filterDropdown p, .filterDropdown a, .filterDropdown button{
  font-size: 12px;
  line-height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.filterDropdown{
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.filterBar{
  background-color: #f7f7f7;
  border-radius: 3px;
  padding-top: 10px;
  margin: 0 auto;
}

.filterpills{
  fill: "blue";
}


/*_________Sankey_________*/

body {
  background: #fcfcfa;
  margin: 10px;
}

#sankey{
  margin-top: 60px;
  background-color: #f7f7f7;
  padding:10px;
  border-radius: 3px;
}

.sankeyChart{
  display: block;
  margin-top: 10px;
  font: 500 14px "arial", sans-serif;
  fill: #023848;
  display: inline-block;
}

.sankeyChart .node {
  transition: opacity 0.25s;
}

.sankeyChart .node rect {
  fill-opacity: .75;
  shape-rendering: crispEdges;
}

.sankeyChart .node text {
  pointer-events: none;
  font-size: 10.5px;
  font-family: "Open Sans", sans-serif;
  font-weight:400;
  opacity: 0;
  transition: opacity 0.25s;
}

.sankeyChart .link {
  fill: none;
  stroke: #969696;
  stroke-opacity: .1;
}

#sankey .col-lg-2{
  padding: 0px 0px;
}

.sankeyChart .link:hover {
  stroke-opacity: .5;
}

.filterPills rect{
  fill: grey;
}

#applyButton:hover{
  background-color: #1F77B4;
}


/*_____Timeline_______*/

.timeline text{
  pointer-events:none;
}

.timeline rect{
   stroke:#fff;
   stroke-width:1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #7F7F7F;
  shape-rendering: optimizeSpeed;
  opacity: 0.8;
}

.axis text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color:#7f7f7f;
}

.timeline-label {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

#timeline2 .axis {
  transform: translate(0px,40px);
  -ms-transform: translate(0px,40px); /* IE 9 */
  -webkit-transform: translate(0px,40px); /* Safari and Chrome */
  -o-transform: translate(0px,40px); /* Opera */
  -moz-transform: translate(0px,40px); /* Firefox */
}

.coloredDiv {
  height:20px; width:20px; float:left;
}

.timeline-wrapper .filterDropdown {
  margin-top: 10px;
}

.timeline-wrapper {
  margin-top:10px;
}


.timeline-wrapper h3:first-child {
  margin-top: 10px;
}



/*___________D3 Tooltip________*/
.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 8px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#sankeyBadInput {
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0;
  visibility: hidden;
}

/*___________D3 Timeline Tooltip________*/

.d3-tip2 {
  line-height: 1em;
  font-weight: normal;
  font-size:0.9em;
  padding: 0.6em;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip2:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  text-align: center;
}


